body,html{
   margin:0;
   padding:0;
   background:#111;
   min-height:100vh;
   font-family:Helvetica;
   user-select:none;
}
header{
   width:100%;
   height:60px;
   background:#2196f3;
   font-family:Helvetica;
   font-size:20px;
   line-height:60px;
   color:white;
}
#icon{
   width:50px;
   height:50px;
   margin-top:5px;
   margin-right:15px;
   margin-left:15px;
   float:left;
   border-radius:50%;
   overflow:hidden;
}
#icon>img{
   height:100%;
}
footer{
   width:100%;
   height:30px;
   font-size:15px;
   line-height:30px;
   color:white;
   text-align:center;
}
.card{
   width:90%;
   margin:5%;
   border-radius:10px;
   box-sizing:border-box;
   padding:10px;
   background:#444;
   font-size:15px;
   color:white;
}